<?php

// -- SQueRT Settings

// Slimit
$sLimit = 50;

// DB Info.
$dbHost = '10.13.1.226';
$dbName = 'sguildb';
$dbUser = 'readonly';
$dbPass = 'readonly';

// Where are the rules? If you have multiple dirs, separate each with: ||
$rulePath = "../.rules";

// Where is dot installed?
$dotPath = "/usr/bin/dot";

// DNS server to query
$dns = "8.8.8.8";

// Timezone offset. If you want UTC use the second option.
//$offset = date("Z");    // Option #1: Local Time
$offset = 0;          // Option #2: UTC

// This is for the status drop-down box. Don't touch the indexes. You can change the naming though.
$statusList = array(
                     0 => "Unclassified||red||UN",
                    11 => "Unauthorized Admin Access||#cc0000||C1",
                    12 => "Unauthorized User Access||#FF6600||C2",
                    13 => "Attempted Unauthorized Access||#FF9900||C3",
                    14 => "Denial of Service Attack||#CC9900||C4",
                    15 => "Policy Violation||#9999CC||C5",
                    16 => "Reconnaissance||#FFCC00||C6",
                    17 => "Malware||#CC66FF||C7",
                     2 => "Escalated Event||pink||ES",
                     1 => "Expired Event||lightblue||NA",
                    42 => "--||--||--");

//
// You shouldnt need to change anything below this line. (you can though)
//

// Show query text
//$debug = 'yes';
$debug = 'no';

// You should never have to load all of these. Use a filter!
$recLimit = '5000';

// Map foreground, background and line Colours
$mapFGC = '#ffffff';
$mapBGC = '#bbccdd';
$mapBGC = '#f4f4f4';
$mapLNC = '#c4c4c4';

// Map event start and end colours.
$mapSC = '#cc0000';
$mapEC = '#000000';

// Severity Start and end colours
$startHex =     'ffffff'; //Examples: 60BB22  FFDE00 D5E1DD
$endHex =       '000000'; //Examples: CC0000  CC0000 22335A

// ---- EDV Settings

// Graphviz arguments. nColor=white
$dotArgs = "-Goutputorder=edgesfirst -Gpad=1 -Gsplines=true";

// Afterglow
$glowPath = realpath('../.glow/afterglow.pl');
$glowArgs = " -p0 -a";

// Results Limit. 
//$LIMIT = 'LIMIT 1000';
$LIMIT = ''; // No limit.

// Image scaling defaults.
$width = 900;
$height = 800;

// Debug. This will output the dot files and afterglows output to .debug
$glowDebug = "no";
?>
