#cal {
width:100%;
clear:left;
float:left;
display:none;
}
.calendar {
width:100%;
text-align:center;
margin:0 auto;
font-weight:normal;
}
.month, .amonth, .dmonth {
width:70px;
text-align:center;
padding:2px 0px 2px 0px;
font-size:11px;
}
.cog {
width:30px;
text-align:center;
}
.month {
background-color:#7c7c7c;
color:#f4f4f4;
cursor:pointer;
}
.month:hover {
background-color:#333;
color:#e9e9e9;
}
.dmonth {
background-color:#7c7c7c;
color:#a4a4a4;
}
.days {
display:none;
}
.hours {
display:none;
}
.hour,.ahour {
border-top:1pt solid #c9c9c9;
width:4.17%;
text-align:center;
font-size:11px;
font-weight:400;
padding:0px 2px 0px 2px;
color:#666;
user-select:none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select:none;
}
.hour {
background-color:#f4f4f4;
}
.hour:hover {
cursor:pointer;
}
.day,.aday,.dday,.sday {
width:3.4%;
text-align:center;
font-size:11px;
font-weight:400;
padding:2px 2px 2px 2px;
background-color:#e9e9e9;
color:#545454;
}
.dday {
color:#c9c9c9;
}
.sday {
background-color:#c9c9c9;
color:#000;
}
.day:hover,.sday:hover {
cursor:pointer;
}
.amonth,.aday,.ahour {
background:#fffbd0;
color:#000;
}
.ahour {
cursor:pointer;
}
.dt_table {
display:none;
width:100%;
margin:0 auto;
font-size:12px;
color:#4D5580;
border-left:none;
border-right:none;
background-color:#c9c9c9;
}
.dt_content {
text-align:right;
height:46px;
}
.dt_input {
width:80px;
padding-left:5px;
border:none;
border:1pt solid #a4a4a4;
background-color:#f4f4f4;
font-size:11px;
}
.dt_utc {
padding-left:5px;
border:none;
border:1pt solid #666;
background-color:#f4f4f4;
font-size:10px;
text-align:center;
vertical-align:middle;
}
.dt_b {
float:right;
font-size:11px;
font-weight:normal;
text-align:center;
margin-right:5px;
border:1pt solid #a4a4a4;
border-radius:2px;
width:65px;
padding:2px;
background-color:#fff;
color:#666;
}
.dt_b:hover {
cursor:pointer;
background-color:#e9e9e9;
}
.dt_error{
display:none;
color:#cc0000;
padding-right:20px;
}
