.slideraxis {
font: 0px sans-serif;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.slideraxis .sliderdomain {
display:none;
fill: none;
stroke: #000;
}
.slideraxis .sliderhalo {
fill:none;
stroke:#b1b2b3;
stroke-width:1px;
}
.slider .sliderhandle {
fill: #fff;
stroke: #666;
stroke-width: 2px;
pointer-events: none;
}
