body {background: #ffffff; font-family: verdana, trebuchet ms, helvetica, sans; color: #000000; padding: 1em 20px 3em 20px; margin: 0;}
body, td, th, h2, h3, h4 { font-size: x-small; voice-family: "\"}\"";voice-family: inherit;font-size: small;color: #333;}
div {font-size: .7em;}
html {overflow-y: scroll;}
table {empty-cells: show;}
th.sort {background: #c9c9c9; border: none; color: #000000; padding: 8px 5px 8px 5px;font-size: 10px;cursor: pointer;}
th.sorttable_nosort {background: #c9c9c9; border: none; color: #000000; padding: 0px 5px 8px 0px;}
td.sort {background: #f4f4f4; border: 1pt solid #c4c4c4; border-top: none; border-right: none; color: #000000; padding: 3px 5px 3px 5px; font-size: 10px;}
td.sort-sum {background: #c4c4c4;color: gray;border: 1pt solid gray;padding: 1px;}
a {color: #000000; font-size: 1em;}
a:hover {background: white;}
a.x {font-size: 13px; text-decoration: none; color: gray;}
a:hover.x {font-size: 13px; color: #000000; text-decoration: none; background: none;}
a.vis {background: transparent; text-decoration: none; color: gray; font-size: 10px;}
a:hover.vis {background: transparent; text-decoration: none;color: #000000;font-size: 10px;}
a.blockB {color: blue;text-decoration: underline;}
a:hover.blockB {text-decoration: underline;color: red; background: none;}
a.cloud {background: transparent; text-decoration: none; color: gray; font-size: 10px;}
a:hover.cloud {background: transparent; text-decoration: underline; color:none;font-size: 10px;}
hr {border: none; border-bottom: 1pt dotted black;}
span.button {vertical-align: text-bottom; background: #c5c5c5; color: black;padding: 1px; padding-right: 2px;padding-left: 2px;font-size: .8em;border: 1pt solid gray;}
td.ip {font-family: verdana;font-size: 11px;background-color: #9098b9;color: #FFFFFF;border: 1pt solid black;border-bottom:none;}
td.info {font-family: verdana;font-size: 11px;background-color: orange;color: #ffffff;border: 1pt solid black;border-bottom: none;padding-top: 5px;padding-bottom: 5px;}
td.tcpudp {font-family: verdana;font-size: 11px;background-color: #54596c;color: #FFFFFF;border: 1pt solid black;border-bottom:none;}
td.data {font-family: verdana;font-size: 11px;background-color: #2f323d;color: #FFFFFF;border: 1pt solid black;border-bottom:none;}
td.string {font-family: verdana;font-size: 11px;font-size: 12;background-color: #ffffff;;color: #000000;}
td.back {font-family: verdana;font-size: 11px;color: #545454;background-color: #c9c9c9;border: 1pt solid black;}
td.datafill {font-family: verdana;font-size: 11px;text-align: center;background-color: #f4f4f4;border: 1pt solid black;border-bottom:none;}
td.dataleft {font-family: verdana;font-size: 11px;background-color: #f4f4f4;border: 1pt solid black;border-bottom:none;}
.input {font-size: 10px; border: 1pt solid #c4c4c4; background: #ffffff;}
.cmenu {margin: 0;background-color: #f4f4f4;padding: 2px 10px 2px 10px;font-size: 11px;border-bottom: 1pt dotted #c4c4c4;cursor: pointer;}
.cmenu-foot {margin: 0;background-color: #f4f4f4;padding: 2px 10px 2px 10px;font-size: 11px;border-bottom: 1pt dotted #c4c4c4;cursor: pointer;}
.rb {background: #DDDDDD;color: #000000;border: none;border: 1pt solid gray;font-size: 9px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.round {-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.round_top {-moz-border-radius-topright: 4px;-moz-border-radius-topleft: 4px;-webkit-border-top-right-radius: 4px;-webkit-border-top-left-radius: 4px;}
.round_bottom {-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;}
.submit {background: transparent;text-decoration: underline;font-size: 1em;border: none; color: #a1a1a1; display: inline;margin: 0;padding: 0;}

