body {
font-family:tahoma, calibri, helvetica, sans;
font-size:10pt;
text-align:left;
background-color:#fff;
padding:0;
}

tr.none {
border:none;
}

.loader {
font-weight:bold;
margin-left:15px;
display:none;
}

.ldimg {
padding-left:10px;
vertical-align:middle;
}

div.wm {
width:100%;
text-align:center;
}

div.body {
width:100%;
}

html {
overflow-y:scroll;
}

table {
empty-cells:show;
}

div.quick {
float:right;
width:290px;
background-color:#e9e9e9;
border-bottom:1px solid #000;
border-left:1px solid #000;
padding-left:10px;
padding-bottom:5px;
padding-top:5px;
border-bottom-left-radius:5px;
color:#cc0000;
font-weight:bold;
margin-top:-1px;
text-align:center;
}

div.cat_box {
position:fixed;
top:250px;
right:0;
width:50px;
border-left:1pt solid #000;
border-top:1pt solid #000;
border-bottom:1pt solid #000;
border-bottom-left-radius:5px;
border-top-left-radius:5px;
padding-right:5px;
padding-top:5px;
padding-left:5px;
text-align:center;
background-color:#e9e9e9;
z-index:1;
}

div.cat_ct {
height:30px;
text-align:center;
}

div.cat_f {
width:15px;
padding-top:5px;
font-size:9px;
color:#a3a3a3;
float:left;
}

div.cat_val {
display:none;
float:left;
margin-left:4px;
margin-right:4px;
font-size:12px;
padding:3px;
text-align:left;
color:#000;
font-weight:medium;
width:70px;
border-radius:3px;
background-color:#f4f4f4;
border: 1pt solid #c9c9c9;
}

div.cat_sum {
display:none;
float:left;
margin-left:4px;
margin-right:4px;
font-size:12px;
padding:3px;
text-align:left;
color:#000;
font-weight:bold;
width:70px;
border-radius:3px;
background-color:yellow;
border: 1pt solid #c9c9c9;
}

div.cat_msg {
position:fixed;
top:50%;
left:50%;
margin-top:-20px;
margin-left:-275px;
width:550px;
height:45px;
background-color:#e9e9e9;
border-radius:3px;
border:1pt solid #000;
padding:5px;
padding-left:10px;
display:none;
z-index:2;
}

input.cat_msg_txt {
border:none;
border:1pt solid #c9c9c9;
width:480px;
}

div.cat_msg_add {
float:right;
font-weight:400;
text-align:center;
border-radius:3px;
margin-left:4px;
margin-right:5px;
font-size:10px;
width:40px;
cursor:pointer;
padding:5px;
color:#fff;
background-color:#cc0000;
}

.input_quick {
float:left;
}

.content {
width:9px;
display:none;
text-align:center;
}

div.today {
float:right;
padding-bottom:30px;
color:#c00;
}

h3 {
font-size:11pt;
font-weight:400;
}

h3.live:hover {
color:#c00;
}

th.sub {
background:#e9e9e9;
color:#000;
font-size:10px;
text-align:left;
border:none;
cursor:pointer;
padding:10px 0 10px 5px;
border-bottom:1pt solid #c9c9c9;
}

th.sub1 {
background:#e9e9e9;
color:#000;
font-size:10px;
text-align:left;
border:none;
cursor:pointer;
padding:5px;
border-bottom:1pt solid #c9c9c9;
}

th.sub2 {
background:#e9e9e9;
color:#545454;
font-size:10px;
font-weight:700;
text-align:left;
padding:5px;
}

td.row,td.row_active,.row_filter {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#000;
font-size:11px;
padding:3px 5px;
}

td.f_row_active {
background:#e9e9e9;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#185FAB;
font-weight: bold;
font-size:11px;
padding:3px 5px;
}

td.lt {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:transparent;
font-size:0;
padding:2px;
}

td.totals {
background:#e9e9e9;
font-weight:700;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
text-align:left;
color:#545454;
font-size:13px;
cursor:default;
padding:3px 5px;
}

tr.d_row_active {
background-color:lightyellow;
}
div.close {
background-color:lightyellow;
}
tr.d_row_sub_active {
background-color:lightyellow;
}
div.close_sub {
background-color:lightyellow;
}
tr.d_row_sub1_active {
background-color:lightyellow;
}
div.close_sub1 {
background-color:lightyellow;
}
div.close,div.close_sub,div.close_sub1 {
float:right;
text-align:center;
color:#000;
margin-top:-1px;
border-left:1pt solid #c4c4c4;
border-bottom:1pt solid #c4c4c4;
border-bottom-left-radius:5px;
padding:3px 10px;
}
div.b_close {
background-color:#cc0000;
color:#fff;
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
padding:0 2px 0 3px;
}

tr.d_row_clicked {
background-color:#e9e9e9;
font-weight:700;
}

tr.d_row_active:hover {
text-decoration:none;
}

tr.d_row:hover,tr.s_row:hover,tr.d_row_sub:hover,.d_row_sub1:hover {
background-color:#f4f4f4;
}

td.txtext {
width:940px;
background:#fff;
color:#000;
font-size:11px;
border-bottom:1pt solid #c9c9c9;
background-color:#fff; 
word-wrap:break-word;
word-break:break-all;
display:inline-block;
padding:20px 10px;
}

div.txtext_head {
background-color:#fff;
color:#545454;
font-weight:400;
font-size:12px;
padding:25px 10px 10px;
}

.txtext_hdr {
width:inherit;
background:#0ff;
float:left;
padding:none;
}

.txtext_dst {
color:#00f;
}

.txtext_dbg {
width:inherit;
background:#add8e6;
float:left;
padding:none;
}

td.sub,td.sub_active,td.sub1_active,td.sub_filter {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#000;
font-size:11px;
text-decoration:none;
padding:3px 5px;
}

td.sub_light {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#c4c4c4;
font-size:11px;
font-style:italic;
padding:3px 5px;
}

td.sub_active:hover,td.sub1_active:hover {
text-decoration:none;
cursor:pointer;
}

td.sub_filter:hover, td.row_filter:hover {
text-decoration: underline;
cursor: pointer;
}

tr.eview {
border-bottom:1pt solid gray;
margin:0;
padding:none;
}

div.eview {
width:100%;
background-color:#fafafa;
border-bottom:1pt solid #c9c9c9;
color:#545454;
float:left;
font-weight:700;
clear:both;
}

div.eview_sub {
clear:both;
margin:0;
padding:none;
}

div.sigtxt {
background-color:#fafafa;
font-weight:400;
font-size:10pt;
word-wrap:break-word;
border-bottom:1pt solid #e9e9e9;
padding:10px;
}

div.event_class {
float:left;
background-color:transparent;
font-weight:400;
padding-bottom:10px;
margin-left:10px;
}

div.event_time {
float:right;
background-color:transparent;
font-weight:400;
padding-bottom:10px;
margin-right:10px;
text-decoration:underline;
color:navy;
cursor:pointer;
}

div.event_time:hover {
color:#545454;
}

div.right {
float:right;
clear:both;
margin-top:-25px;
padding:0 30px 20px 0;
}

div.upper {
width:100%;
top:0;
left:0;
position:fixed;
clear:both;
z-index:9;
}

div.tab_group {
top:0;
left:0;
width:100%;
text-align:center;
background-color:#333;
color:#adadad;
float:left;
z-index:10;
}

div.tab {
width:100px;
background-color:#333;
color:#adadad;
font-weight:400;
float:left;
font-size:10pt;
border-right:1pt solid #545454;
cursor:pointer;
padding:10px;
}

div.tab_active {
width:100px;
background-color:#000;
color:#fff;
font-weight:400;
float:left;
font-size:10pt;
border-right:1pt solid #545454;
padding:10px;
}

div.content_active {
width:100%;
clear:both;
margin-top:100px;
}

div.user {
background-color:#333;
color:#f4f4f4;
font-weight:400;
float:left;
font-size:8pt;
padding:10px 0 0 10px;
}

div.search {
background-color:#333;
color:#f4f4f4;
font-weight:400;
float:right;
font-size:8pt;
padding:6px 10px 0 0;
}

input.search {
border:1pt solid #a4a4a4;
background-color:#e9e9e9;
}

span.clear {
font-family:verdana;
font-size:14px;
text-decoration:none;
color:#fff;
cursor:pointer;
}

span.clear:hover {
color:#e9e9e9;
}

span.prb {
padding-right:10px;
font-weight:700;
}

div.bottom {
width:100%;
height:40px;
bottom:0;
left:0;
position:fixed;
color:#fff;
border-top:1pt solid #000;
}

div.b_tray {
width:38%;
background-color:#333;
text-align:left;
float:left;
padding-top:10px;
height:40px;
}

div.b_class {
width:28%;
background-color:#333;
text-align:left;
float:left;
padding-top:10px;
height:40px;
}

div.b_event {
width:20%;
background-color:#333;
text-align:left;
float:left;
padding-top:10px;
height:40px;
}

div.b_update,div.b_top {
width:7%;
background-color:#c9c9c9;
color:#000;
cursor:pointer;
text-align:center;
float:left;
height:40px;
padding-top:10px;
}

div.b_update:hover,div.b_top:hover {
background-color:#e9e9e9;
}

.toggle-button {
margin-right:10px;
font-weight:400;
background:#e9e9e9;
color:#000;
border:1pt solid gray;
border-radius:4px;
padding:0 10px;
}

.toggle-button:hover {
opacity:0.8;
cursor:pointer;
}

tr.month {
background-color:#000;
color:#444;
font-weight:700;
font-size:8pt;
}

td.month {
width:70px;
text-align:center;
padding:2px 0;
}

td.cmonth {
width:70px;
text-align:center;
background:#696969;
color:#fff;
padding:2px 0;
}

tr.day {
background-color:#e9e9e9;
color:#c4c4c4;
font-weight:400;
font-size:7pt;
}

td.day {
text-align:center;
border-bottom:1pt solid #000;
padding:2px 0;
}

td.cday {
text-align:center;
background:#696969;
font-weight:700;
border-bottom:1pt solid #000;
color:#fff;
padding:2px 0;
}

td.tday {
text-align:center;
color:#000;
font-weight:700;
border-right:2pt solid #000;
border-bottom:1pt solid #000;
padding:2px 0;
}

a.month {
text-decoration:none;
color:#adadad;
background-color:none;
}

a.cday {
color:#fff;
text-decoration:none;
}

a.day {
text-decoration:none;
background-color:none;
color:#000;
}

a.month:hover,a.day:hover {
text-decoration:underline;
}

span.links {
color:#adadad;
text-decoration:none;
padding:0 5px;
}

span.links_enabled {
color:#fff;
cursor:pointer;
text-decoration:underline;
padding:0 5px;
}

th.sort,th.sortr {
background:#c9c7c7;
color:#545454;
cursor:pointer;
font-size:10px;
border:none;
padding:15px 0 15px 5px;
}

th.sort {
text-align:left;
}

th.sortr {
text-align:right;
padding-right:5px;
}

td.bold {
padding-bottom:5px;
font-weight:700;
}

div.box {
width:120px;
color:#000;
background:#e9e9e9;
display:table;
font-weight:700;
text-align:center;
font-size:30px;
border-radius:4px;
padding:10px;
}

div.big {
font-size:12px;
font-weight:700;
text-align:center;
color:#545454;
padding-bottom:5px;
}

div.b_ec_cold {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
background:gray;
color:#fff;
width:45px;
font-size:12px;
padding:5px 0;
}

div.b_ec_hot {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
background:#c8000a;
color:#fff;
width:45px;
font-size:12px;
padding:5px 0;
}

div.b_ec_total {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
background:#e9e9e9;
color:gray;
width:45px;
font-size:12px;
padding:5px 0;
}

table.grid {
border-radius:3px;
border:1pt solid #c9c9c9;
background-color:#fff;
padding:none;
}

td.c_on {
border-radius:2px;
background-color:#545454;
font-size:0;
padding:2px;
border:none;
}

td.c_off {
border-radius:2px;
background-color:#e9e9e9;
font-size:0;
padding:2px;
border:none;
}

/*div.b_ec_total:hover,div.b_ec_hot:hover {
background:#fff;
color:#000;
cursor:pointer;
text-decoration:none;
}*/

div.b_time {
border:1pt solid #000;
border-radius:2px;
width:1px;
float:left;
text-align:center;
margin-top:4px;
margin-right:4px;
padding:2px;
}

div.b_close_r {
background-color:#a80000;
color:#fff;
float:right;
font-weight:700;
text-align:center;
border:1pt solid gray;
border-radius:3px;
padding:0 2px 0 3px;
}

.left {
float:left;
text-align:right;
color:#545454;
padding-right:5px;
font-size:11px;
width:180px;
padding-top:5px;
}

span.small {
font-size:10px;
}

span.bold {
font-size:11px;
font-weight:700;
color:#000;
}

span.class_msg {
color:#000;
display:none;
background-color:#f9edbe;
border-radius:3px;
border:1pt solid #f0c36d;
padding:0 25px;
}

div.class_msg_cont {
font-weight:400;
font-size:12px;
float:left;
}

span.boldtab {
font-size:11px;
font-weight:700;
color:#000;
padding-right:2em;
}

span.link {
font-size:12px;
color: #185FAB;
text-decoration:underline;
cursor:pointer;
}

.b_null {
float:left;
text-align:center;
color:gray;
margin-left:4px;
margin-right:4px;
font-size:8px;
width:15px;
padding:5px;
}

.a_C1,.a_C2,.a_C3,.a_C4,.a_C5,.a_C6,.a_C7,.a_ES,.a_NA,.a_RT,.b_C1,.b_C2,.b_C3,.b_C4,.b_C5,.b_C6,.b_C7,.b_ES,.b_NA,.b_RT,.b_ME {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
color:#000;
margin-left:4px;
margin-right:4px;
font-size:10px;
width:15px;
padding:5px;
}

.b_C1:hover,.b_C2:hover,.b_C3:hover,.b_C4:hover,.b_C5:hover,.b_C6:hover,.b_C7:hover,.b_ES:hover,.b_NA:hover,.b_ME:hover,.b_RT:hover,.b_EX:hover {
cursor:pointer;
background-color:#000;
color:yellow;
}

.a_C1,.b_C1 {
background-color:#c00;
}

.a_C2,.b_C2 {
background-color:#f60;
}

.a_C3,.b_C3 {
background-color:#f90;
}

.a_C4,.b_C4 {
background-color:#c90;
}

.a_C5,.b_C5 {
background-color:#99c;
}

.a_C6,.b_C6 {
background-color:#fc0;
}

.a_C7,.b_C7 {
background-color:#c6f;
}

.a_ES,.b_ES {
background-color:#FFC0CB;
}

.a_NA,.b_NA {
background-color:#ADD8E6;
}

.b_ME {
background-color:navy;
color:#fff;
}

.a_RT,.b_RT {
background-color:#cc0000;
color:#fff;
}

.b_TX {
background-color:#000;
color:#fff;
}
.b_EX {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
color:#000;
background-color:#fff;
margin-left:4px;
margin-right:4px;
font-size:10px;
width:15px;
padding:5px;
border:1pt solid #c9c9c9;
}

span.flag {
padding-right:10px;
}

span.noflag {
background:#f4f4f4;
border:1pt solid #000;
padding:0 8px;
}

table.main {
border:1pt solid #c9c9c9;
}

table.chart {
border:none;
}

table.table {
width:100%;
margin:none;
padding:none;
}

#chart_timestamps {
float:right;
}

span.blue {
color:blue;
}

div.grid_cells {
float:left;
font-size:9px;
text-align:center;
background-color:#e9e9e9;
color:gray;
width:40px;
}

table.padded {
border:1pt solid #c9c9c9;
border-bottom:none;
display:none;
}

tr.h_row {
background-color:#FFFFE0;
}

tr.f_row:hover {
background-color:#f4f4f4;
}

td.f_row {
border-bottom:1pt solid gray;
background-color:#c4c4c4;
font-size:12px;
padding:10px;
}

.filter_show, .menu {
font-weight:400;
text-align:center;
border-radius:3px;
margin-left:4px;
margin-right:10px;
font-size:11px;
float:left;
cursor:pointer;
padding:3px 0;
background-color:#185FAB;
color:#ffffff;
height:14px;
}

.menu_rt {
font-weight:bold;
text-align:center;
border-radius:3px;
margin-right:15px;
font-size:11px;
padding:3px 0;
background-color:#cc0000;
color:#ffffff;
width:25px;
float:left;
border: 1pt solid #cc0000;
}

.filter_show {
width:50px;
border:1pt solid #185FAB;
}

.menu {
width:95px;
border:1pt solid #185FAB;
}

.filter_show:hover, .menu:hover {
background-color:#2C77C7;
}

.filter_edit,.filter_update,.filter_remove {
float:right;
font-weight:400;
text-align:center;
border-radius:3px;
margin-left:4px;
margin-right:5px;
font-size:10px;
width:40px;
cursor:pointer;
padding:5px 0;
}

.filter_edit {
background-color:#e9e9e9;
color:#000;
border:1pt solid #c9c9c9;
}

.filter_update {
background-color:green;
color:#fff;
margin-left:10px;
}

div.cat_msg_add:hover,.filter_close:hover,.filter_new:hover,.filter_refresh:hover,.filter_edit:hover,.filter_update:hover,.filter_remove:hover {
background-color:#fff;
color:#000;
}

.filter_new,.filter_refresh,.filter_help,.filter_close {
background-color:#888888;
color:#fff;
font-size:12px;
font-weight:400;
text-align:center;
border-radius:3px;
width:20px;
height: 15px;
padding:0 3px;
float: right;
margin-left: 2px;
margin-right: 2px;
}

div.filter_fields {
width:50%;
font-weight:normal;
float:left;
font-style:italic;
color:#545454;
}

div.boldf {
width: 110px;
float:left;
font-style:normal;
font-weight:bold;
color:#000;
}

td.fhelp {
font-size:12px;
padding:10px;
padding-bottom: 20px;
border-bottom: 5px solid #c4c4c4;
background-color:lightyellow;
}

div.filter_parts {
width:100%;
clear:both;
padding-bottom: 15px;
}

span.warn {
font-weight:700;
color:#c00;
}

div.filter_error {
display:none;
width:100%;
padding-bottom:20px;
}

div.filter_bees {
padding-top:5px;
padding-bottom:5px;
}

textarea {
border:1pt solid gray;
border-radius:5px;
background-color:#fff;
color:#000;
font-size:13px;
max-width:900px;
max-height:500px;
}

h3.live,td.row_active:hover {
cursor:pointer;
}

tr.d_row,tr.s_row,tr.d_row_sub,tr.d_row_sub1,tr.f_row {
background-color:#fafafa;
}

.txtext_src,span.red {
color:red;
}

div.notes,div.notes_sub2 {
background-color:#e9e9e9;
font-weight:400;
font-size:10px;
padding:15px;
}

.toggle-label,#tl0,#tl1,#usr_filters,tr.hidden {
display:none;
}

span.links:hover,span.links_enabled:hover {
color:#fff;
cursor:pointer;
text-decoration:underline;
}

td.c_on:hover {
background-color:red;
}

div.b_close:hover,div.b_close_r:hover {
opacity:0.7;
cursor:pointer;
}

div.b_pl,div.b_hist {
background-color:#ADD8E6;
color:#000;
}

.filter_remove {
background-color:#c00;
color:#fff;
}

.b_PL {
float:left;
font-weight:normal;
text-align:left;
font-size:11px;
background-color:transparent;
color:#000;
width:60px;
padding-top:2px;
padding-bottom:2px;
}

.b_PL:hover {
text-decoration:underline;
cursor:pointer;
}

.b_TX {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
font-size:10px;
padding-top:2px;
padding-bottom:2px;
padding-left:5px;
padding-right:5px;
margin-left:4px;
background-color:#c9c9c9;
color:#000;
cursor:pointer;
}

.n_TX {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
font-size:10px;
padding-top:2px;
padding-bottom:2px;
padding-left:5px;
padding-right:5px;
margin-left:4px;
background-color:#c9c9c9;
color:#878787;
text-decoration:line-through;
}

.b_MP {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
font-size:10px;
padding-top:2px;
padding-bottom:2px;
padding-left:3px;
padding-right:3px;
margin-left:6px;
background-color:navy;
color:#fff;
cursor:pointer;
}

td.dark {
background-color:#fff;
}
