body {
font-family:tahoma, calibri, helvetica, sans;
font-size:10pt;
text-align:left;
padding:0;
margin:0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
tr.none {
border:none;
}
div.body {
width:100%;
}
html {
overflow-y:scroll;
}
table {
empty-cells:show;
}
div.timeline {
padding:5px 0px 6px 0px;
color:#c9c9c9;
font-size:11px;
width:100%;
float:left;
clear:both;
border-bottom:1pt dotted #c9c9c9;
}
div.db_view {
margin-top:80px;
}
div.db_save {
float:right;
margin-top:8px;
margin-right:10px;
}
div.db_links, div.lu_links, div.hp_links {
border-bottom:1pt dotted #c9c9c9;
background-color:#f4f4f4;
font-size:11px;
float:left;
clear:both;
width:100%;
}
div.db_links {
display:none;
}
div.db_link,div.db_type,div.lu_type,div.hp_type {
float:left;
margin:6px 5px 2px 5px;
cursor:pointer;
color:#000;
padding:2px 10px 2px 10px;
border:1pt solid transparent;
}
div.db_link_active,div.db_type_active,div.lu_type_active,div.hp_type_active {
color:#000;
cursor:default;
border-radius:5px;
background-color:#e3e3e3;
border:1pt solid #c9c9c9;
padding:2px 10px 2px 10px;
}
div.db_linkt,div.db_typet,div.lu_typet,div.hp_typet {
color:#4D5580;
float:left;
height:20px;
margin:6px 0px 2px 10px;
padding:2px 10px 2px 10px;
}
div.db_link:hover,div.db_type:hover,div.lu_type:hover,div.hp_type:hover {
color:#545454;
}
div.pin{
float:left;
margin-left:4px;
}
div.t_stats {
float:right;
height:14px;
margin-top:3px;
}
div.t_pbar {
float:right;
height:14px;
text-align:right;
width:200px;
margin-right:3px;
margin-top:3px;
}
div.aaa {
padding-top:44px;
}
span.fl, span.fr {
font-size:11px;
font-weight:normal;
margin-left:20px;
margin-right:5px;
color:#333366;
}
span.fl_val_on {
color:#e9e9e9;
background:#3a3a3a;
color:#fff;
border-radius:2px;
padding:3px;
cursor:pointer;
}
span.fl_val_off {
color:#595959;
padding:0px 5px 0px 5px;
}
img.ct {
margin-right:-10px;
margin-bottom:-2px;
cursor:pointer;
}
span.today {
color:blue;
cursor:pointer;
text-decoration:underline;
padding-left:8px;
}
div.secl {
width:100%;
padding-top:10px;
padding-bottom:5px;
float:left;
background-color:#fff;
}
div.rl {
float:left;
clear:both;
margin-bottom:60px;
width:100%;
}
div.ovdl {
font-size:12px;
font-weight:bold;
color:#545454;
padding-bottom:10px;
padding-left:20px;
text-decoration:underline;
float:left;
}
div.ovbl {
font-size:13px;
font-weight:normal;
color:#4D5580;
float:left;
height:30px;
margin-top:-1px;
}
div.ovstat {
text-align:left;
color:#666;
float:left;
margin-left:10px;
font-size:12px;
height:30px;
}
div.ovbi, div.ovsl {
float:right;
font-size:11px;
margin-right:10px;
width:150px;
text-align:right;
}
div.ldr {
float:left;
margin-top:2px;
margin-left:10px;
}
div.ldr100 {
clear:left;
width:100%;
text-align:center;
margin-top:2px;
}
div.onepane {
width:96%;
padding-right:2%;
padding-left:2%;
margin-top:50px;
float:left;
clear:both;
}
div.twopane {
width:100%;
float:left;
clear:both;
}
div.leftpane {
float:left;
width:47%;
margin-right:2%;
margin-left:2%;
}
div.rightpane {
float:left;
width:47%;
margin-right:2%;
}
div.hidepane {
width:9px;
height:30px;
float:left;
clear:left;
background-color:#1a8cff;
margin-right:-20px;
margin-top:-5px;
display:block;
}
div.hidepane:hover {
width:30px;
}
table.dash {
width:100%;
margin-bottom:30px;
border:1pt dotted #dadada;
}
div.bars {
border: 1pt solid #B3BEE8;
border-left:none;
background-color:#ecf1f4;
height:18px;
margin-top:-22px;
border-top-right-radius:2px;
border-bottom-right-radius:3px;
}
div.bars_e_txt {
position:relative;
z-index:1;
}
div.bars_e {
border: 1pt solid #d8d8d8;
border-left:none;
background-color:#D8EFFF;
height:19px;
margin-top:-3px;
margin-left:-2px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
position:absolute;
float:left;
}
#wm0 {
text-align:center;
clear:both;
float:left;
}
div.jvectormap-container {
border-radius:5px;
border:1pt dotted #e9e9e9;
padding:10px 0px 10px 0px;
}
div.content-left {
position:fixed;
bottom:0px;
left:0px;
width:18%;
border-right:1pt solid #acacac;
clear:both;
z-index:1;
overflow:auto;
overflow-x:hidden;
margin-bottom:25px;
}
div.content-right {
width:82%;
float:right;
}
div.content_active {
width:100%;
clear:both;
}
div.label100 {
width:95%;
font-size:11px;
float:left;
text-align:left;
padding-bottom:10px;
padding-left:8px;
color:#333366;
clear:right;
}
div.label {
width:110px;
font-size:11px;
float:left;
text-align:left;
padding-bottom:10px;
padding-left:8px;
color:#333366;
clear:left;
}
div.label_c {
width:110px;
font-size:11px;
float:left;
text-align:left;
padding-bottom:10px;
padding-left:8px;
color:#333366;
clear:left;
}
div.label_c:hover {
cursor:pointer;
text-decoration:underline;
}
div.label_l {
width:100%;
float:left;
text-align:left;
padding:6px 0px 6px 0px;
background-color:#f4f4f4;
clear:right;
}
span.ec_label {
margin-left:6px;
margin-right:6px;
font-size:10px;
color:#4D5580;
}
div.label_m {
float:right;
margin-right:10px;
cursor:pointer;
padding-top:2px;
}
img.pop {
margin-left:5px;
margin-top:3px
}
img.pop:hover {
opacity:.5;
cursor:pointer;
}
div.value, div.value_link {
font-size:11px;
font-weight:bold;
float:left;
text-align:left;
margin-right:5px;
color:#666;
clear:right;
}
div.value_link:hover {
cursor:pointer;
color:#000;;
}
div.tvalue_on, div.tvalue_off{
font-size:12px;
float:left;
text-align:center;
margin-right:5px;
clear:right;
border-radius:3px;
width:20px;
height:16px;
padding:2px;
}
div.tvalue_on {
color:#f4f4f4;
background-color:#3a3a3a;
}
div.tvalue_off {
color:#666;
background-color:#f4f4f4;
}
div.tvalue_on:hover,div.tvalue_off:hover {
cursor:pointer;
}
div.h_box,div.tg_box {
margin-left:4px;
margin-right:4px;
margin-bottom:5px;
width:100%;
float:left;
clear:right;
font-size:11px;
}
span.h_item{
font-size:11px;
color:#b5b5b5;
padding:2px;
margin-bottom:5px;
margin-right:2px;
display:inline-block;
}
div.cat_f {
width:15px;
padding-top:5px;
font-size:9px;
color:#a3a3a3;
float:left;
}
div.cat_val {
display:none;
float:left;
margin-left:4px;
font-size:12px;
padding:3px 0px 3px 0px;
text-align:left;
color:#000;
font-weight:medium;
width:0px;
background-color:#c9c9c9;
border-radius:2px;
}
div.cat_sum {
display:none;
}
span.per {
font-weight:normal;
font-size:9px;
margin-left:5px;
}
div.cat_top,div.fltr_top,div.sen_top,div.ac_top,div.srch_top {
float:left;
background-color:#e4e4e4;
width:100%;
font-weight:bold;
border-bottom:1pt solid #9c9c9c;
}
div.cat_row {
float:left;
clear:left;
text-align:left;
padding-top:20px;
}
div.cat_l1 {
width:100px;
float:left;
clear:left;
text-align:right;
font-size:11px;
color:#4D5580;
height:25px;
}
div.cat_r1 {
float:left;
clear:right;
margin-left:10px;
text-align:left;
height:25px;
}
div.cat_note {
float:left;
clear:right;
text-align:center;
margin-bottom:10px;
color:#666;
font-size:8pt;
width:100%;
display:none;
}
.box_close,.filter_new,.ac_new,.filter_refresh,.cat_refresh,.ac_refresh,.filter_help,.cat_help,.ac_help,.pickbox_close {
float:right;
margin:10px;
}
div.box_label {
float:left;
margin:10px;
color:#4D5580;
font-size:12px;
font-weight:normal;
}
div.box_label_pb {
float:left;
margin:10px;
/*color:#328efe;*/
color:#fff;
background-color:#328efe;
font-size:13px;
font-weight:normal;
padding:5px 10px;
border-radius:4px;
border:1pt solid;
}
div.box_stat {
float:right;
margin-top:6px;
margin-right:30px;
font-weight:normal;
border:1pt solid #a4a4a4;
background:#f4f4f4;
border-radius:3px;
padding:3px 15px 3px 15px;
color:#666;
}
div.box {
position:fixed;
height:510px;
width:960px;
top:50%;
left:50%;
margin-top:-260px;
margin-left:-480px;
background-color:#fff;
border:1pt solid #9c9c9c;
display:none;
z-index:30;
}
div.pickbox {
position:fixed;
width:300px;
top:50%;
left:50%;
margin-top:-75px;
margin-left:-100px;
display:none;
background-color:#fff;
border:1pt solid #9c9c9c;
z-index:31;
}
div.pickbox_tbl {
width:100%;
float:left;
max-height:200px;
overflow:auto;
}
div.fltr_tbl,div.ac_tbl {
width:100%;
overflow:auto;
height:420px;
float:left;
}
div.cm_tbl,div.sen_tbl {
width:100%;
height:350px;
float:left;
overflow:auto;
}
div.srch_tbl {
width:100%;
height:287px;
float:left;
overflow:auto;
}
img.cm_tbl_ldr {
margin-top:11px;
margin-left:10px;
}
div.cm_controls,div.sen_controls,div.srch_controls {
padding-top:20px;
padding-bottom:10px;
width:100%;
float:left;
background-color:#fff;
}
div.tof {
text-align:center;
padding:2px 0;
}
div.tod {
text-align:center;
padding:2px 0;
}
input.cat_msg_txt,input.srch_txt,input.el_ts {
padding:4px;
border:none;
border:1pt solid #a4a4a4;
margin-top:-3px;
margin-right:5px;
font-size:11px;
border-radius:4px;
background-color:#fff;
}
input.cat_msg_txt {
width:700px;
}
input.srch_txt {
width:500px;
}
input.el_ts {
width:125px;
font-size:11px;
}
div.clear_srch {
margin-top:-1px;
}
#srch_ldr {
color:#545454;
}
div.cat_msg_add {
float:right;
margin-right:10px;
font-weight:400;
text-align:center;
border-radius:3px;
font-size:10px;
width:40px;
cursor:pointer;
padding:5px;
color:#fff;
background-color:#cc0000;
}
tr.pcomm:hover,tr.ac_row:hover,tr.f_row:hover {
background-color:#fff;
}
tr.p_row:hover, tr.n_row:hover, tr.t_row:hover {
cursor:pointer;
background-color:#deebf7;
}
tr.p_row_dark {
font-style:italic;
font-weight:bold;
}
.input_quick {
float:left;
}
.content {
display:none;
}
div.today {
float:right;
padding-bottom:30px;
color:#c00;
}
h3 {
font-size:11pt;
font-weight:400;
}
h3.live:hover {
color:#c00;
}

/* Table Headers trbl */
th.header {
color:#333366;
padding:12px 0px 12px 5px;
font-weight:normal;
border:none;
}
th.sort {
background:#f4f4f4;
color:#333366;
cursor:pointer;
font-size:10px;
font-weight:normal;
padding:15px 0px 15px 5px;
}
th.sub {
background:#f4f4f4;
color:#333366;
font-size:10px;
text-align:left;
border:none;
cursor:pointer;
padding:12px 0px 12px 5px;
font-weight:normal;
border-top:none;
}
thead.lines {
border-bottom:1pt solid #e9e9e9;
}
th.blank {
color:#333366;
font-size:11px;
text-align:left;
cursor:pointer;
font-weight:normal;
padding-bottom:6px;
}
td.blank {
background:transparent;
color:#000;
font-size:11px;
padding: 5px 5px;
}
div.py_bar {
border: 1pt solid #B3BEE8;
border-left:none;
background-color:#ecf1f4;
height:14px;
margin-top:-19px;
border-top-right-radius:2px;
border-bottom-right-radius:3px;
}
table.py_tbl {
display:table;
width:560px;
border-spacing:0;
border-collapse:collapse;
}
table.py_tbl thead, table.py_tbl tbody {
float:left;
width:560px;
}
table.py_tbl tbody {
overflow-y:auto;
overflow-x:hidden;
border:1pt solid #e9e9e9;
max-height:148px;
}
table.py_tbl tr {
display:table;
text-align:left;
padding:1px;
width:560px;
}
th.sub1 {
background:#f4f4f4;
color:#333366;
font-size:10px;
text-align:left;
border:none;
cursor:pointer;
padding:12px 0px 12px 5px;
font-weight:normal;
}
th.ext {
background:#f4f4f4;
color:#333366;
font-size:11px;
text-align:left;
border:none;
padding:5px 0px 5px 5px;
font-weight:normal;
border-left:10px solid #D8EFFF;
}
#tlsrch {
border-bottom: 2pt solid #D8EFFF;
border-top:2pt solid #D8EFFF;
}
/*Payload*/
th.sub2,th.sub3 {
background:#f4f4f4;
color:#333366;
font-size:10px;
font-weight:normal;
text-align:left;
padding:12px 0px 12px 5px;
}
th.sub4 {
width:60px;
background:#f4f4f4;
color:#333366;
font-size:10px;
font-weight:normal;
text-align:left;
padding:5px;
}
/*Rows*/
td.sub {
background:transparent;
color:#000;
font-size:11px;
text-decoration:none;
padding:3px 5px;
}
td.raw{
background:transparent;
border-top:none;
border-right:none;
color:#acacac;
text-decoration:none;
padding:10px;
word-wrap:break-word;
word-break:break-all;
font-size:13px;
font-family:calibri, tahoma, sans;
}
td.sub2_active {
text-decoration:underline;
cursor:pointer;
color:#4D5580;
}
td.sub2_inactive {
text-decoration:line-through;
}
td.sub_txt {
width:900px;
background: #f4f4f4;
color:#000;
font-size:11px;
text-decoration:none;
padding:10px;
word-wrap:break-word;
word-break:break-all;
}
td.sub_light {
background:transparent;
border-top:none;
border-right:none;
border-left:none;
color:#c4c4c4;
font-size:11px;
font-style:italic;
padding:3px 5px;
}
td.sub_active:hover,td.sub1_active:hover {
text-decoration:none;
cursor:pointer;
}
td.sub_filter:hover, td.row_filter:hover {
text-decoration: underline;
cursor: pointer;
}
td.sub2 {
border-bottom:1pt dotted #c4c4c4;
}
td.sub3 {
background-color:#fff;
border-top:none;
border-right:none;
border-left:none;
color:#000;
font-size:11px;
text-decoration:none;
padding:3px 5px;
border-bottom:1pt dotted #c4c4c4;
}
td.sub3_d {
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#000;
font-size:12px;
text-decoration:none;
padding:15px;
}
td.row,td.row_active,.sub_filter {
background:transparent;
color:#000;
font-size:11px;
padding:6px 5px;
}
tr.d_row_active .row {
background-color:#FFFFED;
cursor:pointer;
border-top:1pt solid #c9c9c9;
}
tr.d_row_sub_active .sub {
background-color:#FFFFED;
cursor:pointer;
border-top:1pt solid #c9c9c9; 
}
tr.d_row_sub_active1 .sub {
background-color:#FFFFED;
cursor:pointer;
border-top:1pt solid #c9c9c9;
}
tr.d_row:hover,tr.d_row_sub:hover,.d_row_sub1:hover {
background-color:#f4f4f4;
}
td.nr,.nr_f {
background:transparent;
color:#000;
font-size:11px;
padding:3px 5px;
}
td.nr_dark {
background-color:#c9c9c9;
}
td.row_nopad {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#000;
font-size:11px;
}
td.pr {
background:transparent;
color:#000;
font-size:11px;
padding:5px 3px;
padding-left:15px;
}
span.pr {
text-decoration:underline;
color:#185FAB;
}
td.ac_row_active {
background:#e9e9e9;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:#185FAB;
font-weight: bold;
font-size:11px;
padding:3px 5px;
}
td.lt {
background:transparent;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
color:transparent;
font-size:0;
padding:2px;
}
td.totals {
background:#e9e9e9;
font-weight:700;
border:1pt solid #c4c4c4;
border-top:none;
border-right:none;
border-left:none;
text-align:left;
color:#545454;
font-size:13px;
cursor:default;
padding:3px 5px;
}
table.txtable {
border-bottom:1pt solid #c9c9c9;
}
td.txtext {
width:95%;
color:#000;
font-size:11px;
word-wrap:break-word;
word-break:break-all;
display:inline-block;
margin:15px;
font-family:courier, serif;
}
.txtext_hdr {
color:#000;
font-weight:bold;
}
.txtext_src {
color:#00f;
}
.txtext_dst {
color:red;
}
.txtext_dbg {
color:#666;
font-style:italic;
}
tr.eview {
border-bottom:1pt solid gray;
margin:0;
padding:none;
}
div.eview {
border-bottom:1pt solid #c9c9c9;
color:#545454;
float:left;
font-weight:medium;
width:100%;
}
div.eview_charts { 
float:left;
width:100%;
display:none;
}
div.ev_l {
margin-top:63px;
margin-left:5px;
float:left;
color:#545454;
}
div.ev_hm {
float:left;
}
div.ev_py {
float:left;
margin-left:25px;
margin-top:14px;
}
div.eview_sub {
clear:both;
margin:0;
padding:none;
}
div.sigtxt {
background-color:transparent;
color:#808080;
font-size:12px;
word-wrap:break-word;
word-break:break-all;
display:inline-block;
padding-top:10px;
padding-bottom:10px;
margin-left:10px;
margin-right:10px;
float:left;
clear:both;
}
div.area {
background-color:transparent;
color:#808080;
font-size:12px;
word-wrap:break-word;
word-break:break-all;
display:inline-block;
padding-top:10px;
padding-bottom:10px;
margin-left:20px;
margin-right:10px;
float:left;
clear:both;
}
div.comments,div.tags,div.details,div.payload {
background-color:transparent;
color:#333366;
font-size:11px;
padding-top:10px;
padding-bottom:10px;
margin-left:10px;
margin-right:10px;
float:left;
clear:both;
width:98%;
}
div.eview_actions {
padding-bottom:10px;
margin-left:10px;
float:left;
clear:both;
}
div.ct_ts {
float:left;
clear:right;
}
div.event_time {
float:right;
background-color:transparent;
color:#4D5580;
padding-bottom:5px;
padding-top:10px;
margin-right:10px;
text-decoration:underline;
cursor:pointer;
}
div.event_time:hover {
color:#545454;
}
div.right {
float:right;
clear:both;
margin-top:-25px;
padding:0 30px 20px 0;
}
div.tab_group {
position:fixed;
top:0;
left:0;
width:100%;
text-align:center;
color:#333366;
float:left;
z-index:20;
background-color:#fff;
clear:both;
}
div.tab {
width:100px;
color:#a4a4a4;
float:left;
font-size:12px;
cursor:pointer;
padding:6px;
margin-left:3px;
}
div.tab:hover {
color:#595959;
}
div.tab_active {
width:100px;
color:#fff;
float:left;
font-size:12px;
padding:6px;
border-top:none;
background-color:#db4d4d;
margin-left:3px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
}
div.tab_subgroup {
width:100%;
text-align:center;
background-color:#e9e9e9;
color:#333366;
float:left;
z-index:20;
clear:both;
font-size:11px;
text-align:center;
}
div.tsg {
width:90px;
float:left;
cursor:pointer;
padding:6px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
border:1pt solid transparent; 
border-top:none;
margin-left:10px;
}
div.tsg_active {
border:1pt solid #c9c9c9;
border-top:none;
}
div.tsg:hover {
text-decoration:underline;
}
div.search {
color:#f4f4f4;
font-weight:400;
float:right;
font-size:8pt;
padding:6px 10px 0 0;
}
input.search {
border:1pt solid #a4a4a4;
background-color:#fff;
padding:4px;
padding-left:5px;
border-radius:3px;
}
span.clear {
font-size:14px;
color:#666;
cursor:pointer;
}
span.prb {
padding-right:10px;
font-weight:700;
}
div.bottom {
width:100%;
bottom:0;
left:0;
position:fixed;
background-color:#c9c9c9;
height:25px;
z-index:1;
}
div.b_tray {
text-align:left;
float:left;
margin-top:3px;
width:200px;
}
.loader {
display:none;
margin-left:10px;
float:left;
}
.ldimg {
vertical-align:middle;
}
div.b_class {
text-align:center;
float:left;
margin-top:5px;
}
div.b_clock{
float:right;
text-align:center;
width:120px;
margin-top:5px;
font-weight:bold;
color:#595959;
font-size:11px;
}
div.user {
margin-left:10px;
width:200px;
margin-top:5px;
float:left;
color:#4D5580;
font-size:11px;
}
span.logout {
cursor:pointer;
margin-left:7px;
color:#a3a3a3;
}
span.logout:hover {
color:#000;
}
span.clock_lbl{
color:#4D5580;
font-weight:normal;
}
span.class_msg {
color:#000;
display:none;
background-color:#f9edbe;
border-radius:3px;
border:1pt solid #7C7A75;
padding:0 25px;
}
.toggle-button {
margin-right:10px;
font-weight:400;
background:#e9e9e9;
color:#000;
border:1pt solid gray;
border-radius:4px;
padding:0 10px;
}
.toggle-button:hover {
opacity:0.8;
cursor:pointer;
}
span.links {
font-weight:normal;
color:#185FAB;
padding:0 5px;
text-decoration:underline;
}
div.ex_type {
float:left;
color:#000;
padding:3px;
padding-left:5px;
padding-right:5px;
border-radius:3px;
margin-right:5px;
background-color:#d4d4d4;
}
div.ex_key {
float:left;
font-weight:normal;
color:#a4a4a4;
padding:3px;
padding-right:none;
}
div.ex_val {
float:left;
color:#000353;
padding:3px;
padding-left:0px;
padding-right:10px;
}
div.ex_val:hover {
text-decoration:underline;
cursor:pointer;
}
input.color {
border:none;
font-size:10px;
width:50px;
text-align:center;
border:2pt solid #d4d4d4;
border-radius:3px;
cursor:pointer;
}
div.key {
font-weight:normal;
color:#808080;
padding:3px;
padding-right:none;
width:130px;
float:left;
}
div.val {
color:#000353;
padding:3px;
padding-left:0px;
padding-right:10px;
}
span.links_enabled {
color:#fff;
cursor:pointer;
text-decoration:underline;
padding:0 5px;
}
td.bold {
padding-bottom:5px;
font-weight:700;
}
div.big {
font-size:11px;
font-weight:700;
text-align:center;
color:#545454;
padding-bottom:5px;
}
div.b_ec_cold {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
background:gray;
color:#fff;
width:45px;
font-size:12px;
padding:5px 0;
}
.b_ec_hot {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
background-color:#942329;
color:#fff;
width:45px;
font-size:12px;
padding:5px 0;
}
div.b_ec_total {
float:left;
font-weight:normal;
text-align:center;
border-radius:3px;
background:#e9e9e9;
color:gray;
width:45px;
font-size:12px;
padding:5px 0;
}
.b_ec_hot,.b_ec_total,.b_ec_cold {
cursor:pointer;
}
table.grid {
border-radius:3px;
background-color:#fff;
padding:none;
border-spacing:0;
border-collapse:collapse;
}
table.grid_nopad {
background-color:#fff;
padding:none;
border-spacing:0;
border-collapse:collapse;
}
td.c_on {
font-size:0;
padding:3px;
border:none;
border:1pt solid #e9e9e9;
}
td.c_off {
font-size:0;
padding:3px;
border:none;
border:1pt solid #e9e9e9;
}
td.cl_on {
border-radius:2px;
font-size:0;
padding:3px;
border:none;
cursor:pointer;
}
.nl_11,.nl_12,.nl_13,.nl_14,.nl_15,.nl_16,.nl_17,.nl_1,.nl_2 {
font-size:0;
padding:3px;
border:1pt solid #e9e9e9;
}
.cl_11,.cl_12,.cl_13,.cl_14,.cl_15,.cl_16,.cl_17,.cl_1,.cl_2 {
font-size:0;
padding:3px;
cursor:pointer;
border:1pt solid #e9e9e9;
}
.cl_11:hover {
background-color:#c00;
}
.cl_12:hover {
background-color:#f60;
}
.cl_13:hover {
background-color:#f90;
}
.cl_14:hover {
background-color:#c90;
}
.cl_15:hover {
background-color:#99c;
}
.cl_16:hover {
background-color:#fc0;
}
.cl_17:hover {
background-color:#c00;
}
.cl_1:hover {
background-color:#ADD8E6;
}
.cl_2:hover {
background-color:#FFC0CB;
}
div.b_time {
border:1pt solid #000;
border-radius:2px;
width:1px;
float:left;
text-align:center;
margin-top:4px;
margin-right:4px;
padding:2px;
}
div.b_close_r {
background-color:#a80000;
color:#fff;
float:right;
font-weight:700;
text-align:center;
border:1pt solid gray;
border-radius:3px;
padding:0 2px 0 3px;
}
.left {
float:left;
text-align:right;
color:#545454;
padding-right:5px;
font-size:11px;
width:180px;
padding-top:5px;
}
.center {
text-align:center;
}
span.small {
font-size:10px;
}
span.bold {
font-size:11px;
font-weight:700;
color:#000;
}
div.class_msg_cont {
font-weight:400;
font-size:12px;
float:left;
}
span.boldtab {
font-size:11px;
font-weight:700;
color:#000;
padding-right:2em;
}
span.link {
font-size:12px;
color: #185FAB;
text-decoration:underline;
cursor:pointer;
}
.b_null {
float:left;
text-align:center;
color:gray;
margin-left:4px;
margin-right:4px;
font-size:8px;
width:15px;
padding:5px;
}
.a_C1,.a_C2,.a_C3,.a_C4,.a_C5,.a_C6,.a_C7,.a_ES,.a_NA,.a_RT,.b_RT,.o_RT,.b_ME {
float:left;
font-weight:bold;
text-align:center;
border-radius:3px;
color:#000;
margin-left:4px;
margin-right:4px;
font-size:10px;
width:15px;
padding:5px;
}
.b_C1,.b_C2,.b_C3,.b_C4,.b_C5,.b_C6,.b_C7,.b_ES,.b_NA,.b_RT {
float:left;
font-size:10px;
font-weight:bold;
text-align:center;
border-radius:3px;
color:#000;
margin-right:4px;
margin-left:2px;
padding:5px;
}
.b_C1:hover,.b_C2:hover,.b_C3:hover,.b_C4:hover,.b_C5:hover,.b_C6:hover,.b_C7:hover,.b_ES:hover,.b_NA:hover,.b_ME:hover,.b_RT:hover,.b_EX:hover,.b_TB:hover {
cursor:pointer;
color:#e9e9e9;
}
.a_C1,.b_C1,.b_C1s {
background-color:#942329;
}
.a_C2,.b_C2,.b_C2s {
background-color:#f60;
}
.a_C3,.b_C3,.b_C3s {
background-color:#f90;
}
.a_C4,.b_C4,.b_C4s {
background-color:#c90;
}
.a_C5,.b_C5,.b_C5s {
background-color:#99c;
}
.a_C6,.b_C6,.b_C6s {
background-color:#fc0;
}
.a_C7,.b_C7,.b_C7s {
background-color:#c6f;
}
.a_ES,.b_ES,.b_ESs {
background-color:#FFC0CB;
}
.a_NA,.b_NA,.b_NAs {
background-color:#ADD8E6;
}
.a_RT {
background-color:#942329;
color:#fff;
}
.b_RT {
background-color:#942329;
color:#fff;
cursor:pointer;
}
.o_RT {
background-color:#666;
color:#c9c9c9;
cursor:pointer;
}
.b_EX {
float:left;
font-weight:700;
text-align:center;
border-radius:3px;
color:#000;
background-color:#fff;
margin-left:4px;
margin-right:4px;
font-size:10px;
width:15px;
padding:5px;
border:1pt solid #c9c9c9;
}
span.flag {
padding-right:10px;
}
span.noflag {
background:#f4f4f4;
border:1pt solid #000;
padding:0 8px;
}
table.chart {
border:none;
}
table.table {
width:100%;
margin:none;
padding:none;
}
table.tlip {
border-top:1pt dotted #c4c4c4;
}
span.blue {
color:blue;
}
div.grid_cells {
float:left;
font-size:9px;
text-align:center;
background-color:#e9e9e9;
color:gray;
width:40px;
}
table.padded {
border:2pt solid #c9c9c9;
display:none;
}
tr.h_row {
background-color:#FFFFE0;
}
td.f_row,td.ac_row {
border-bottom:1pt solid gray;
background-color:#c4c4c4;
font-size:12px;
text-align:center;
padding-top:5px;
padding-bottom:5px;
}
td.f_row_active {
background-color:#ffa;
}
.sensor_show {
font-weight:400;
text-align:center;
border-radius:3px;
margin-left:4px;
margin-right:10px;
font-size:11px;
float:left;
cursor:pointer;
padding:3px 0;
background-color:#185FAB;
color:#ffffff;
height:14px;
width:50px;
border:1pt solid #185FAB;
}
.icon {
text-align:center;
float:left;
cursor:pointer;
margin-right:8px;
padding:5px 5px 0px 5px;
border-radius:5px;
}
.icon_notifier {
text-align:center;
float:left;
font-weight:bold;
cursor:pointer;
margin-left:-15px;
margin-top:-2px;
border-radius:3px;
opacity:.7;
background-color:#cc0000;
width:14px;
height:14px;
display:none;
}
.srch_do {
text-align:center;
float:right;
cursor:pointer;
border:1pt solid #a4a4a4;
padding:2px 8px 0px 8px;
border-radius:3px;
background-color:#fff;
margin-left:5px;
}
.icon:hover,.srch_do:hover {
opacity:.7;
}
.iconr {
text-align:center;
float:right;
cursor:pointer;
margin-top:2px;
margin-left:4px;
}
.menu_rt {
font-weight:bold;
text-align:center;
border-radius:3px;
font-size:11px;
padding:3px 0;
background-color:#cc0000;
color:#ffffff;
width:25px;
border: 1pt solid #cc0000;
}
.sensor_show:hover,.button:hover {
background-color:#2C77C7;
}
.filter_update,.filter_remove,.ac_create,.ac_disable,.ac_remove {
float:left;
font-weight:400;
text-align:center;
border-radius:3px;
margin-left:4px;
margin-right:5px;
font-size:10px;
width:40px;
cursor:pointer;
padding:5px 0;
}
.ac_disable {
background-color:#1a8cff;
color:#fff;
}
.filter_update,.ac_create {
background-color:#1a8cff;
color:#fff;
margin-left:10px;
}
.ac_remove:hover, div.cat_msg_add:hover,.filter_update:hover,.filter_remove:hover,.ac_disable:hover,.ac_create:hover {
background-color:#fff;
color:#000;
cursor:pointer;
}
div.filter_fields {
width:50%;
font-weight:normal;
float:left;
font-style:italic;
color:#545454;
}
div.boldf {
width: 110px;
float:left;
font-style:normal;
font-weight:bold;
color:#000;
}
td.fhelp {
font-size:12px;
padding:10px;
padding-bottom: 20px;
border-bottom: 5px solid #c4c4c4;
background-color:lightyellow;
}
div.filter_parts {
width:100%;
clear:both;
padding-bottom: 15px;
}
span.warn {
font-weight:700;
color:#c00;
}
div.filter_error,div.ac_error {
display:none;
padding-bottom:20px;
padding-top:20px;
margin-left:20px;
float:left;
clear:left;
text-align:left;
}
div.filter_bees,div.ac_bees {
padding-top:5px;
padding-bottom:5px;
text-align:center;
width:100%;
}
textarea {
border:1pt solid gray;
border-radius:5px;
background-color:#3D3C3C;
color:#fff;
font-size:14px;
width:100%;
max-width:900px;
max-height:600px;
}
h3.live,td.row_active:hover {
cursor:pointer;
}
span.red {
color:red;
}
div.notes,div.notes_sub2 {
background-color:#e9e9e9;
font-weight:400;
font-size:10px;
padding:15px;
}
.toggle-label,#tl0,#tl1,#usr_filters,tr.hidden {
display:none;
}
span.links:hover,span.links_enabled:hover {
color:#666;
cursor:pointer;
text-decoration:underline;
}
td.c_on:hover {
background-color:red;
}
div.b_close:hover,div.b_close_r:hover {
opacity:0.7;
cursor:pointer;
}
.filter_remove,.ac_remove {
background-color:#c00;
color:#fff;
}
td.dark {
background-color:#e9e9e9;
}
.pr1,.pr2,.pr3 {
padding-top:2px;
padding-bottom:2px;
width:3px;
height:15px;
font-size:0px;
border-radius:1px;
border:1pt solid #000;
}
.pr1,.bpr1 {
background-color:#cc0000;
color:#fff;
}
.pr2,.bpr2 {
background-color:orange;
color:#000;
}
.pr3,.bpr3 {
background-color:yellow;
color:#000;
}
.bpr4 {
background-color:#e9e9e9;
color:#000;
}
.bprA {
font-weight:normal;
text-align:center;
font-size:9px;
height:8px;
cursor:pointer;
border-radius:2px;
color:#fff;
background-color:#000;
padding:0px 3px 0px 3px;
border:1pt solid #fff;
}
.bpr1,.bpr2,.bpr3,.bpr4 {
font-weight:normal;
text-align:center;
border:none;
font-size:9px;
height:5px;
cursor:pointer;
padding:0px 3px 0px 3px;
border-radius:2px;
border:1pt solid #000;
}
table.pribar {
width:100%;
border:none;
border-radius:3px;
margin-right:2px;
margin-top:-1px;
}
div.quick {
font-size:12px;
padding:0px 5px 10px 5px;
font-weight:bold;
float:left;
text-align:right;
width:100px;
clear:left;
}
div.quickl {
padding:0px 5px 10px 5px;
font-size:12px;
float:left;
text-align:left;
clear:right;
word-break:break-all;
word-wrap:normal;
width:750px;
}
span.qlink {
color:#757575;
text-decoration:underline;
padding:0px 5px 0px 5px;
}
span.qlink:hover {
cursor:pointer;
color:#000;
}
img.il {
cursor:pointer;
}
img.il:hover {
opacity:.7;
}
img.ilb,img.botog {
width:17px;
height:17px;
} 
.ac_view {
cursor:pointer;
text-decoration:underline;
color:#185FAB;
}
span.ac_edit_on,.filter_edit,.srch_edit {
color:#185FAB;
text-decoration:underline;
cursor:pointer;
}
.filter_edit{
padding:8px 10px 8px 5px;
}
span.ac_edit_off {
color:#666;
text-decoration:line-through;
cursor:pointer;
}
.hide {
display:none;
}
.hvr:hover {
text-decoration:underline;
cursor:pointer;
}
.select {
-webkit-touch-callout:text;
-webkit-user-select:text;
-khtml-user-select:text;
-moz-user-select:text;
-ms-user-select:text;
user-select:text;
}
div.event_class {
float:left;
margin-top:10px;
margin-left:10px;
}
div.chrt_ts {
background-color:#f4f4f4;
width:100%;
float:left;
}
div.object {
width:6px;
height:10px;
border-radius:2px;
border:1pt solid #c9c9c9;
float:left;
margin-right:5px;
}
span.csave {
text-decoration:underline;
font-size:12px;
color:#185FAB;
margin-left:10px;
}
/* Tags */
div.tag {
font-size:11px;
padding:5px 5px 5px 5px;
margin-bottom:5px;
margin-right:5px;
display:inline-block;
border-radius:3px;
background-color:#F1F2F1;
cursor:pointer;
color:#545454;
}
div.tag_d {
font-size:11px;
font-weight:bold;
padding:5px 5px 5px 5px;
margin-bottom:5px;
margin-right:9px;
display:inline-block;
border-radius:3px;
background-color:#cc0000;
color:#f4f4f4;
}
div.tag_s {
font-size:11px;
font-weight:bold;
padding:5px 5px 5px 5px;
margin-bottom:5px;
margin-right:9px;
display:inline-block;
border-radius:3px;
background-color:#22335a;
color:#f4f4f4;
}
div.tag_x {
position: absolute;
background-color: #000;
color: #fff;
border: 1pt solid #BDBDBD;
border-radius: 9px;
text-align: center;
font-size: 11px;
font-weight: bold;
width: 16px;
height: 14px;
margin-top: -29px;
display: none;
cursor: pointer;
}
div.tag_active {
background-color:#0e65df;
color:#fff;
}
div.tag_empty,div.history_empty {
font-weight:bold;
font-size:13pt;
color:#dadada;
width:100%;
margin-top:10px;
margin-left:5px;
margin-bottom:10px;
}
/*trbl*/
div.tagbox {
position:fixed;
padding:10px 0px 10px 15px;
top:50%;
left:50%;
margin-top:56px;
margin-left:-86px;
display:none;
background-color:#fafafa;
border:1pt solid #9c9c9c;
z-index:32;
border-radius:5px;
}
span.tagok, span.tagcancel{
font-size:12px;
font-weight:normal;
text-decoration:underline;
cursor:pointer;
margin-right:5px;
color:#185FAB; 
}
span.tagrm{
font-size:12px;
font-weight:normal;
text-decoration:underline;
cursor:pointer;
margin-right:10px;
margin-left:5px;
color:#cc0000;
}
span.spacer{
color:#545454;
font-size:16px;
font-weight:bold;
}
.taginput{
border:none;
border: 1pt solid #c9c9c9;
border-radius:3px;
margin-right:10px;
padding:10px;
font-size:14px;
color:#545454;
}
div.times {
text-align:center;
}
